Calendar Agent.json
{
  "name": "Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -80
      ],
      "id": "3639f51b-1d86-4622-9bcb-2d75ea43463a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Important context:\nCurrent date and time is {{ $now.toString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        48,
        -80
      ],
      "id": "f0d70930-3695-4462-8cbf-e799efe928cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "leonvanzyldev@gmail.com",
          "mode": "list",
          "cachedResultName": "leonvanzyldev@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "e2f32981-43f3-4c67-9beb-8c98b5ddcc5e",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KYlL4pM9y7rMvhSA",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "leonvanzyldev@gmail.com",
          "mode": "list",
          "cachedResultName": "leonvanzyldev@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "810ff6c8-226c-4b29-8d6f-ef31e5f87c1d",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KYlL4pM9y7rMvhSA",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -96,
        128
      ],
      "id": "07b2aaf1-8e1c-4106-9f90-81b9ce142a86",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "KqXDeFBkmTViiBWU",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Please get my calendar events for 1 March"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "92101db0-4f42-4ea0-a052-fc4985bcc8d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1b8e116456025af12e06b62afc114a183171a34b6c56361b59ae4a1b7965f0d"
  },
  "id": "mGl1tvKeev8K2bBc",
  "tags": []
}